###### https://www.mohfw.gov.in

# Libraries

In [1]:
from datetime import datetime      # for date and time opeations
import os                          # for file and folder operations
import re                          # for regular expression opeations
import glob                        # for listing files in a folder
import requests                    # for getting web contents  
import pandas as pd                # storing and analysing data
from bs4 import BeautifulSoup      # for scraping web contents
import re                          # regular expression
import numpy as np                 # for numerical analysis

# Web Scrapping

In [2]:
# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# our target table is the last table in the page
# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
print("Table head",thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
print("Head HTML",head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[-1]
print("Table Body",tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
print("Body Part",body)

Table head <thead>
<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Active Cases*</strong></th>
<th><strong>Cured/Discharged/Migrated*</strong></th>
<th><strong>Deaths**</strong></th>
<th><strong>Total Confirmed cases*</strong></th>
</tr>
</thead>
Head HTML [<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Active Cases*</strong></th>
<th><strong>Cured/Discharged/Migrated*</strong></th>
<th><strong>Deaths**</strong></th>
<th><strong>Total Confirmed cases*</strong></th>
</tr>]
Table Body <tbody>
<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>11</td>
<td>37</td>
<td>0</td>
<td>48</td>
</tr>
<tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>4562</td>
<td>4331</td>
<td>106</td>
<td>8999</td>
</tr>
<tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>120</td>
<td>15</td>
<td>0</td>
<td>135</td>
</tr>
<tr>
<td>4</td>
<td>Assam</td>
<td>2019</td>
<td>3360</td>
<td>9</td>
<td>5388</td>
</tr>
<tr>
<td>5</td>
<td>Bihar</td>
<td>1979</td>
<td>5580</td>
<td>53</td>
<td>7612</td>
</tr>
<tr>
<td>6</td>
<td>Chandigarh</td>
<td>84</td>
<td>316</td>
<td>6</td>
<td>406</td>
</tr>
<tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>817</td>
<td>1447</td>
<td>11</td>
<td>2275</td>
</tr>
<tr>
<td>8</td>
<td>Dadra and Nagar Haveli and Daman and Diu</td>
<td>62</td>
<td>26</td>
<td>0</td>
<td>88</td>
</tr>
<tr>
<td>9</td>
<td>Delhi</td>
<td>24558</td>
<td>33013</td>
<td>2175</td>
<td>59746</td>
</tr>
<tr>
<td>10</td>
<td>Goa</td>
<td>625</td>
<td>129</td>
<td>0</td>
<td>754</td>
</tr>
<tr>
<td>11</td>
<td>Gujarat</td>
<td>6248</td>
<td>19349</td>
<td>1663</td>
<td>27260</td>
</tr>
<tr>
<td>12</td>
<td>Haryana</td>
<td>4918</td>
<td>5557</td>
<td>160</td>
<td>10635</td>
</tr>
<tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>240</td>
<td>425</td>
<td>8</td>
<td>673</td>
</tr>
<tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>2492</td>
<td>3382</td>
<td>82</td>
<td>5956</td>
</tr>
<tr>
<td>15</td>
<td>Jharkhand</td>
<td>656</td>
<td>1406</td>
<td>11</td>
<td>2073</td>
</tr>
<tr>
<td>16</td>
<td>Karnataka</td>
<td>3395</td>
<td>5618</td>
<td>137</td>
<td>9150</td>
</tr>
<tr>
<td>17</td>
<td>Kerala</td>
<td>1490</td>
<td>1661</td>
<td>21</td>
<td>3172</td>
</tr>
<tr>
<td>18</td>
<td>Ladakh</td>
<td>702</td>
<td>134</td>
<td>1</td>
<td>837</td>
</tr>
<tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>2373</td>
<td>9015</td>
<td>515</td>
<td>11903</td>
</tr>
<tr>
<td>20</td>
<td>Maharashtra</td>
<td>60161</td>
<td>65744</td>
<td>6170</td>
<td>132075</td>
</tr>
<tr>
<td>21</td>
<td>Manipur</td>
<td>591</td>
<td>250</td>
<td>0</td>
<td>841</td>
</tr>
<tr>
<td>22</td>
<td>Meghalaya</td>
<td>10</td>
<td>33</td>
<td>1</td>
<td>44</td>
</tr>
<tr>
<td>23</td>
<td>Mizoram</td>
<td>132</td>
<td>9</td>
<td>0</td>
<td>141</td>
</tr>
<tr>
<td>24</td>
<td>Nagaland</td>
<td>70</td>
<td>141</td>
<td>0</td>
<td>211</td>
</tr>
<tr>
<td>25</td>
<td>Odisha</td>
<td>1426</td>
<td>3720</td>
<td>14</td>
<td>5160</td>
</tr>
<tr>
<td>26</td>
<td>Puducherry</td>
<td>218</td>
<td>140</td>
<td>8</td>
<td>366</td>
</tr>
<tr>
<td>27</td>
<td>Punjab</td>
<td>1275</td>
<td>2700</td>
<td>99</td>
<td>4074</td>
</tr>
<tr>
<td>28</td>
<td>Rajasthan</td>
<td>2984</td>
<td>11597</td>
<td>349</td>
<td>14930</td>
</tr>
<tr>
<td>29</td>
<td>Sikkim</td>
<td>53</td>
<td>25</td>
<td>0</td>
<td>78</td>
</tr>
<tr>
<td>30</td>
<td>Tamil Nadu</td>
<td>25866</td>
<td>32754</td>
<td>757</td>
<td>59377</td>
</tr>
<tr>
<td>31</td>
<td>Telangana</td>
<td>3861</td>
<td>3731</td>
<td>210</td>
<td>7802</td>
</tr>
<tr>
<td>32</td>
<td>Tripura</td>
<td>461</td>
<td>759</td>
<td>1</td>
<td>1221</td>
</tr>
<tr>
<td>33</td>
<td>Uttarakhand</td>
<td>817</td>
<td>1500</td>
<td>27</td>
<td>2344</td>
</tr>
<tr>
<td>34</td>
<td>Uttar Pradesh</td>
<td>6186</td>
<td>10995</td>
<td>550</td>
<td>17731</td>
</tr>
<tr>
<td>35</td>
<td>West Bengal</td>
<td>5093</td>
<td>8297</td>
<td>555</td>
<td>13945</td>
</tr>
<tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>7832</td>
<td></td>
<td></td>
<td>7832</td>
</tr>
<tr>
<td></td>
<td colspan="1"><strong><span>Total#</span></strong></td>
<td align="right" style="text-align:right;"><strong>174387</strong></td>
<td>
<strong>237196</strong>
</td>
<td>
<strong>13699</strong>
</td>
<td>
<strong>425282</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>
</tbody>
Body Part [<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>11</td>
<td>37</td>
<td>0</td>
<td>48</td>
</tr>, <tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>4562</td>
<td>4331</td>
<td>106</td>
<td>8999</td>
</tr>, <tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>120</td>
<td>15</td>
<td>0</td>
<td>135</td>
</tr>, <tr>
<td>4</td>
<td>Assam</td>
<td>2019</td>
<td>3360</td>
<td>9</td>
<td>5388</td>
</tr>, <tr>
<td>5</td>
<td>Bihar</td>
<td>1979</td>
<td>5580</td>
<td>53</td>
<td>7612</td>
</tr>, <tr>
<td>6</td>
<td>Chandigarh</td>
<td>84</td>
<td>316</td>
<td>6</td>
<td>406</td>
</tr>, <tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>817</td>
<td>1447</td>
<td>11</td>
<td>2275</td>
</tr>, <tr>
<td>8</td>
<td>Dadra and Nagar Haveli and Daman and Diu</td>
<td>62</td>
<td>26</td>
<td>0</td>
<td>88</td>
</tr>, <tr>
<td>9</td>
<td>Delhi</td>
<td>24558</td>
<td>33013</td>
<td>2175</td>
<td>59746</td>
</tr>, <tr>
<td>10</td>
<td>Goa</td>
<td>625</td>
<td>129</td>
<td>0</td>
<td>754</td>
</tr>, <tr>
<td>11</td>
<td>Gujarat</td>
<td>6248</td>
<td>19349</td>
<td>1663</td>
<td>27260</td>
</tr>, <tr>
<td>12</td>
<td>Haryana</td>
<td>4918</td>
<td>5557</td>
<td>160</td>
<td>10635</td>
</tr>, <tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>240</td>
<td>425</td>
<td>8</td>
<td>673</td>
</tr>, <tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>2492</td>
<td>3382</td>
<td>82</td>
<td>5956</td>
</tr>, <tr>
<td>15</td>
<td>Jharkhand</td>
<td>656</td>
<td>1406</td>
<td>11</td>
<td>2073</td>
</tr>, <tr>
<td>16</td>
<td>Karnataka</td>
<td>3395</td>
<td>5618</td>
<td>137</td>
<td>9150</td>
</tr>, <tr>
<td>17</td>
<td>Kerala</td>
<td>1490</td>
<td>1661</td>
<td>21</td>
<td>3172</td>
</tr>, <tr>
<td>18</td>
<td>Ladakh</td>
<td>702</td>
<td>134</td>
<td>1</td>
<td>837</td>
</tr>, <tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>2373</td>
<td>9015</td>
<td>515</td>
<td>11903</td>
</tr>, <tr>
<td>20</td>
<td>Maharashtra</td>
<td>60161</td>
<td>65744</td>
<td>6170</td>
<td>132075</td>
</tr>, <tr>
<td>21</td>
<td>Manipur</td>
<td>591</td>
<td>250</td>
<td>0</td>
<td>841</td>
</tr>, <tr>
<td>22</td>
<td>Meghalaya</td>
<td>10</td>
<td>33</td>
<td>1</td>
<td>44</td>
</tr>, <tr>
<td>23</td>
<td>Mizoram</td>
<td>132</td>
<td>9</td>
<td>0</td>
<td>141</td>
</tr>, <tr>
<td>24</td>
<td>Nagaland</td>
<td>70</td>
<td>141</td>
<td>0</td>
<td>211</td>
</tr>, <tr>
<td>25</td>
<td>Odisha</td>
<td>1426</td>
<td>3720</td>
<td>14</td>
<td>5160</td>
</tr>, <tr>
<td>26</td>
<td>Puducherry</td>
<td>218</td>
<td>140</td>
<td>8</td>
<td>366</td>
</tr>, <tr>
<td>27</td>
<td>Punjab</td>
<td>1275</td>
<td>2700</td>
<td>99</td>
<td>4074</td>
</tr>, <tr>
<td>28</td>
<td>Rajasthan</td>
<td>2984</td>
<td>11597</td>
<td>349</td>
<td>14930</td>
</tr>, <tr>
<td>29</td>
<td>Sikkim</td>
<td>53</td>
<td>25</td>
<td>0</td>
<td>78</td>
</tr>, <tr>
<td>30</td>
<td>Tamil Nadu</td>
<td>25866</td>
<td>32754</td>
<td>757</td>
<td>59377</td>
</tr>, <tr>
<td>31</td>
<td>Telangana</td>
<td>3861</td>
<td>3731</td>
<td>210</td>
<td>7802</td>
</tr>, <tr>
<td>32</td>
<td>Tripura</td>
<td>461</td>
<td>759</td>
<td>1</td>
<td>1221</td>
</tr>, <tr>
<td>33</td>
<td>Uttarakhand</td>
<td>817</td>
<td>1500</td>
<td>27</td>
<td>2344</td>
</tr>, <tr>
<td>34</td>
<td>Uttar Pradesh</td>
<td>6186</td>
<td>10995</td>
<td>550</td>
<td>17731</td>
</tr>, <tr>
<td>35</td>
<td>West Bengal</td>
<td>5093</td>
<td>8297</td>
<td>555</td>
<td>13945</td>
</tr>, <tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>7832</td>
<td></td>
<td></td>
<td>7832</td>
</tr>, <tr>
<td></td>
<td colspan="1"><strong><span>Total#</span></strong></td>
<td align="right" style="text-align:right;"><strong>174387</strong></td>
<td>
<strong>237196</strong>
</td>
<td>
<strong>13699</strong>
</td>
<td>
<strong>425282</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>, <tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>]

In [4]:
# get the table contents
# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
print(head_rows)

[['S. No.', 'Name of State / UT', 'Active Cases*', 'Cured/Discharged/Migrated*', 'Deaths**', 'Total Confirmed cases*']]
[['S. No.', 'Name of State / UT', 'Active Cases*', 'Cured/Discharged/Migrated*', 'Deaths**', 'Total Confirmed cases*']]

In [5]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,Andaman and Nicobar Islands,11,37,0,48
1,Andhra Pradesh,4562,4331,106,8999
2,Arunachal Pradesh,120,15,0,135
3,Assam,2019,3360,9,5388
4,Bihar,1979,5580,53,7612
5,Chandigarh,84,316,6,406
6,Chhattisgarh,817,1447,11,2275
7,Dadra and Nagar Haveli and Daman and Diu,62,26,0,88
8,Delhi,24558,33013,2175,59746
9,Goa,625,129,0,754
10,Gujarat,6248,19349,1663,27260
11,Haryana,4918,5557,160,10635
12,Himachal Pradesh,240,425,8,673
13,Jammu and Kashmir,2492,3382,82,5956
14,Jharkhand,656,1406,11,2073
15,Karnataka,3395,5618,137,9150
16,Kerala,1490,1661,21,3172
17,Ladakh,702,134,1,837
18,Madhya Pradesh,2373,9015,515,11903
19,Maharashtra,60161,65744,6170,132075
20,Manipur,591,250,0,841
21,Meghalaya,10,33,1,44
22,Mizoram,132,9,0,141
23,Nagaland,70,141,0,211
24,Odisha,1426,3720,14,5160
25,Puducherry,218,140,8,366
26,Punjab,1275,2700,99,4074
27,Rajasthan,2984,11597,349,14930
28,Sikkim,53,25,0,78
29,Tamil Nadu,25866,32754,757,59377
30,Telangana,3861,3731,210,7802
31,Tripura,461,759,1,1221
32,Uttarakhand,817,1500,27,2344
33,Uttar Pradesh,6186,10995,550,17731
34,West Bengal,5093,8297,555,13945

# Data Cleaning

In [6]:
# date-time information
# =====================

# today's date
now  = datetime.now()
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')

# df_bs.head(36)

In [7]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')

In [8]:
# latitude and longitude information
# ==================================

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Telangana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809, 'Sikkim':27.5330, 
       'Dadra and Nagar Haveli and Daman and Diu': 20.1809}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Telangana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169, 'Sikkim':88.5122,
        'Dadra and Nagar Haveli and Daman and Diu': 73.0169}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

# df_bs.head(36)

In [9]:
# unique state names
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [10]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT            0
Active Cases*                 0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      0
Longitude                     0
dtype: int64

In [11]:
# number of unique values 
df_bs.nunique()

Name of State / UT            35
Active Cases*                 34
Cured/Discharged/Migrated*    35
Deaths**                      24
Total Confirmed cases*        35
Date                           1
Latitude                      35
Longitude                     31
dtype: int64

# Saving data

In [12]:
# saving data
# ===========

# file names as year-month-day.csv format
file_name = now.strftime("%Y_%m_%d")+'.csv'

# location for saving the file
file_loc = "C:/Users/saksh/IBM_cloud/Confirm_Cases/Dataset/"

# save file as a scv file
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,11,37,0,48,2020-06-22,11.7401,92.6586
1,Andhra Pradesh,4562,4331,106,8999,2020-06-22,15.9129,79.7400
2,Arunachal Pradesh,120,15,0,135,2020-06-22,28.2180,94.7278
3,Assam,2019,3360,9,5388,2020-06-22,26.2006,92.9376
4,Bihar,1979,5580,53,7612,2020-06-22,25.0961,85.3131
5,Chandigarh,84,316,6,406,2020-06-22,30.7333,76.7794
6,Chhattisgarh,817,1447,11,2275,2020-06-22,21.2787,81.8661
7,Dadra and Nagar Haveli and Daman and Diu,62,26,0,88,2020-06-22,20.1809,73.0169
8,Delhi,24558,33013,2175,59746,2020-06-22,28.7041,77.1025
9,Goa,625,129,0,754,2020-06-22,15.2993,74.1240
10,Gujarat,6248,19349,1663,27260,2020-06-22,22.2587,71.1924
11,Haryana,4918,5557,160,10635,2020-06-22,29.0588,76.0856
12,Himachal Pradesh,240,425,8,673,2020-06-22,31.1048,77.1734
13,Jammu and Kashmir,2492,3382,82,5956,2020-06-22,33.7782,76.5762
14,Jharkhand,656,1406,11,2073,2020-06-22,23.6102,85.2799
15,Karnataka,3395,5618,137,9150,2020-06-22,15.3173,75.7139
16,Kerala,1490,1661,21,3172,2020-06-22,10.8505,76.2711
17,Ladakh,702,134,1,837,2020-06-22,34.2996,78.2932
18,Madhya Pradesh,2373,9015,515,11903,2020-06-22,22.9734,78.6569
19,Maharashtra,60161,65744,6170,132075,2020-06-22,19.7515,75.7139
20,Manipur,591,250,0,841,2020-06-22,24.6637,93.9063
21,Meghalaya,10,33,1,44,2020-06-22,25.4670,91.3662
22,Mizoram,132,9,0,141,2020-06-22,23.1645,92.9376
23,Nagaland,70,141,0,211,2020-06-22,26.1584,94.5624
24,Odisha,1426,3720,14,5160,2020-06-22,20.9517,85.0985
25,Puducherry,218,140,8,366,2020-06-22,11.9416,79.8083
26,Punjab,1275,2700,99,4074,2020-06-22,31.1471,75.3412
27,Rajasthan,2984,11597,349,14930,2020-06-22,27.0238,74.2179
28,Sikkim,53,25,0,78,2020-06-22,27.5330,88.5122
29,Tamil Nadu,25866,32754,757,59377,2020-06-22,11.1271,78.6569
30,Telangana,3861,3731,210,7802,2020-06-22,18.1124,79.0193
31,Tripura,461,759,1,1221,2020-06-22,23.9408,91.9882
32,Uttarakhand,817,1500,27,2344,2020-06-22,30.0668,79.0193
33,Uttar Pradesh,6186,10995,550,17731,2020-06-22,26.8467,80.9462
34,West Bengal,5093,8297,555,13945,2020-06-22,22.9868,87.8550

# Combining data

In [13]:
# list of all files available

In [14]:
# location of the file
loc = "C:/Users/saksh/IBM_cloud/Confirm_Cases/Dataset/"

# list of all files
files = glob.glob(loc+'2020*.csv')
   
# container for each day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    
    try:
        df_temp = df_temp.drop(['Total Confirmed cases (Indian National)', 
                                'Total Confirmed cases ( Foreign National )'], axis=1)
    except:
        pass
        
    d = {'^Cured.*': 'Cured/Discharged/Migrated', 
         'Total Confirmed cases.*': 'Total Confirmed cases', 
         'Death.*': 'Death'}
    
    df_temp.columns = df_temp.columns.to_series().replace(d, regex=True)


#     df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
#     df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
#                                       'Total Confirmed cases *': 'Total Confirmed cases', 
#                                       'Total Confirmed cases ': 'Total Confirmed cases', 
#                                       'Total Confirmed cases* ': 'Total Confirmed cases'})
#     df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
#                                                       'Total Confirmed cases',x))
#     df_temp = df_temp.rename(columns=lambda x: re.sub("Death.*", "Death", x))

    
    # append to the df_s
    dfs.append(df_temp)
    
# print(dfs)

# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)

# get just numbers
complete_data['Death'] = complete_data['Death'].astype('str').str.extract('(\d+)').astype('int')

# few sample rows
complete_data.sample(10)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated,Death,Total Confirmed cases,Date,Latitude,Longitude
2,Manipur,591,250,0,841,2020-06-22,24.6637,93.9063
1,Maharashtra,60161,65744,6170,132075,2020-06-22,19.7515,75.7139
12,Telangana,3861,3731,210,7802,2020-06-22,18.1124,79.0193
28,Gujarat,6248,19349,1663,27260,2020-06-22,22.2587,71.1924
30,Himachal Pradesh,240,425,8,673,2020-06-22,31.1048,77.1734
4,Mizoram,132,9,0,141,2020-06-22,23.1645,92.9376
27,Goa,625,129,0,754,2020-06-22,15.2993,74.1240
14,Uttarakhand,817,1500,27,2344,2020-06-22,30.0668,79.0193
19,Andhra Pradesh,4562,4331,106,8999,2020-06-22,15.9129,79.7400
15,Punjab,1275,2700,99,4074,2020-06-22,31.1471,75.3412

In [15]:
# complete_data.columns

## Preprocessing

In [16]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
cols = ['Cured/Discharged/Migrated', 'Death']
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [17]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [18]:
# select only rows with more than 1 case
complete_data = complete_data[complete_data['Total Confirmed cases']>0]

In [19]:
# drop extra columns
complete_data = complete_data.drop(['Active Cases*'], axis=1)

In [20]:
# rearrange columns
complete_data = complete_data[['Date', 'Name of State / UT', 'Latitude', 'Longitude', 
                               'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]

In [21]:
# rename state names
complete_data['Name of State / UT'] = complete_data['Name of State / UT'].replace('Dadar Nagar Haveli', 'Dadra and Nagar Haveli and Daman and Diu')
complete_data['Name of State / UT'] = complete_data['Name of State / UT'].replace('Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [22]:
# New cases
# =========

# temp dataset
temp = complete_data.groupby(['Name of State / UT', 'Date', ])['Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']
temp = temp.sum().diff().reset_index()

mask = temp['Name of State / UT'] != temp['Name of State / UT'].shift(1)

temp.loc[mask, 'Total Confirmed cases'] = np.nan
temp.loc[mask, 'Death'] = np.nan
temp.loc[mask, 'Cured/Discharged/Migrated'] = np.nan

temp = temp[['Date', 'Name of State / UT', 'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]
temp.columns = ['Date', 'Name of State / UT', 'New cases', 'New deaths', 'New recovered']

# merging new values
complete_data = pd.merge(complete_data, temp, on=['Name of State / UT', 'Date'])

# filling na with 0
complete_data = complete_data.fillna(0)

# fixing data types
cols = ['New cases', 'New deaths', 'New recovered']
complete_data[cols] = complete_data[cols].astype('int')

# remove negative values
complete_data['New cases'] = complete_data['New cases'].apply(lambda x: 0 if x<0 else x)

# final data
complete_data.head()

C:\Users\saksh\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-06-22,Andaman and Nicobar Islands,11.7401,92.6586,48,0,37,0,0,0
1,2020-06-22,Andhra Pradesh,15.9129,79.7400,8999,106,4331,0,0,0
2,2020-06-22,Arunachal Pradesh,28.2180,94.7278,135,0,15,0,0,0
3,2020-06-22,Assam,26.2006,92.9376,5388,9,3360,0,0,0
4,2020-06-22,Bihar,25.0961,85.3131,7612,53,5580,0,0,0

## Final dataframe

In [23]:
# random rows
complete_data.sample(3)

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
32,2020-06-22,Uttar Pradesh,26.8467,80.9462,17731,550,10995,0,0,0
33,2020-06-22,Uttarakhand,30.0668,79.0193,2344,27,1500,0,0,0
24,2020-06-22,Odisha,20.9517,85.0985,5160,14,3720,0,0,0

In [24]:
# complete data info
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       35 non-null     datetime64[ns]
 1   Name of State / UT         35 non-null     object
 2   Latitude                   35 non-null     float64
 3   Longitude                  35 non-null     float64
 4   Total Confirmed cases      35 non-null     int64
 5   Death                      35 non-null     int32
 6   Cured/Discharged/Migrated  35 non-null     int32
 7   New cases                  35 non-null     int64
 8   New deaths                 35 non-null     int32
 9   New recovered              35 non-null     int32
dtypes: datetime64[ns](1), float64(2), int32(4), int64(2), object(1)
memory usage: 2.5+ KB

## Save as .csv file

In [25]:
# save data in a csv file
complete_data.to_csv('C:/Users/saksh/IBM_cloud/Confirm_Cases/Dataset/complete.csv', index=False)

complete_data.groupby('Date').count()

complete_data.sort_values('Death', ascending=False)

In [26]:
complete_data[complete_data['Date']==max(complete_data['Date'])]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-06-22,Andaman and Nicobar Islands,11.7401,92.6586,48,0,37,0,0,0
1,2020-06-22,Andhra Pradesh,15.9129,79.7400,8999,106,4331,0,0,0
2,2020-06-22,Arunachal Pradesh,28.2180,94.7278,135,0,15,0,0,0
3,2020-06-22,Assam,26.2006,92.9376,5388,9,3360,0,0,0
4,2020-06-22,Bihar,25.0961,85.3131,7612,53,5580,0,0,0
5,2020-06-22,Chandigarh,30.7333,76.7794,406,6,316,0,0,0
6,2020-06-22,Chhattisgarh,21.2787,81.8661,2275,11,1447,0,0,0
7,2020-06-22,Dadra and Nagar Haveli and Daman and Diu,20.1809,73.0169,88,0,26,0,0,0
8,2020-06-22,Delhi,28.7041,77.1025,59746,2175,33013,0,0,0
9,2020-06-22,Goa,15.2993,74.1240,754,0,129,0,0,0
10,2020-06-22,Gujarat,22.2587,71.1924,27260,1663,19349,0,0,0
11,2020-06-22,Haryana,29.0588,76.0856,10635,160,5557,0,0,0
12,2020-06-22,Himachal Pradesh,31.1048,77.1734,673,8,425,0,0,0
13,2020-06-22,Jammu and Kashmir,33.7782,76.5762,5956,82,3382,0,0,0
14,2020-06-22,Jharkhand,23.6102,85.2799,2073,11,1406,0,0,0
15,2020-06-22,Karnataka,15.3173,75.7139,9150,137,5618,0,0,0
16,2020-06-22,Kerala,10.8505,76.2711,3172,21,1661,0,0,0
17,2020-06-22,Ladakh,34.2996,78.2932,837,1,134,0,0,0
18,2020-06-22,Madhya Pradesh,22.9734,78.6569,11903,515,9015,0,0,0
19,2020-06-22,Maharashtra,19.7515,75.7139,132075,6170,65744,0,0,0
20,2020-06-22,Manipur,24.6637,93.9063,841,0,250,0,0,0
21,2020-06-22,Meghalaya,25.4670,91.3662,44,1,33,0,0,0
22,2020-06-22,Mizoram,23.1645,92.9376,141,0,9,0,0,0
23,2020-06-22,Nagaland,26.1584,94.5624,211,0,141,0,0,0
24,2020-06-22,Odisha,20.9517,85.0985,5160,14,3720,0,0,0
25,2020-06-22,Puducherry,11.9416,79.8083,366,8,140,0,0,0
26,2020-06-22,Punjab,31.1471,75.3412,4074,99,2700,0,0,0
27,2020-06-22,Rajasthan,27.0238,74.2179,14930,349,11597,0,0,0
28,2020-06-22,Sikkim,27.5330,88.5122,78,0,25,0,0,0
29,2020-06-22,Tamil Nadu,11.1271,78.6569,59377,757,32754,0,0,0
30,2020-06-22,Telangana,18.1124,79.0193,7802,210,3731,0,0,0
31,2020-06-22,Tripura,23.9408,91.9882,1221,1,759,0,0,0
32,2020-06-22,Uttar Pradesh,26.8467,80.9462,17731,550,10995,0,0,0
33,2020-06-22,Uttarakhand,30.0668,79.0193,2344,27,1500,0,0,0
34,2020-06-22,West Bengal,22.9868,87.8550,13945,555,8297,0,0,0

In [27]:
sum=0
for i in complete_data['Total Confirmed cases']:
    sum= sum+ i
print(sum)

417450

### Top country

In [30]:
top= complete_data['Total Confirmed cases'][0]
for j in complete_data['Total Confirmed cases']:
    if j>top:
        top=j
    print(top)

48
8999
8999
8999
8999
8999
8999
8999
59746
59746
59746
59746
59746
59746
59746
59746
59746
59746
59746
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075
132075